<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
=======
header {
    background-color: #ff0000;
    height: 70px;
    width: 100;
>>>>>>> 30e9bc801827c898d1cc9628d9a73b27038e6be4
}
