<<<<<<< HEAD
.places{
    border: 0;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.places h1{
    font-size: 30px;
}
.places_title{
    padding-top: 30px;
    margin-bottom: -25px;
}
.articles{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
.places article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
}
article h2{
    font-size: 30px;
    margin-top: -2px;
}
=======
.places {
    width: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .places > h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
  }
  
  article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 390px;
    margin: 20px;
    padding: 20px;
  }
  
  article > h2 {
    font-size: 30px;
  }
>>>>>>> 30e9bc801827c898d1cc9628d9a73b27038e6be4
